* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*começa a contar o tamanho a partir da borda interna*/
}

nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    padding: 1em;
    background-color: #000;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

nav img {
    width: 45%;
}

.txt-area {
    margin-top: 8em;
    text-align: center;
}

.txt-area textarea {
    width: 35vw;
    height: 55vh;
    border: 3px solid #000;
    border-radius: 5px;
}

.textoFinal {
    width: 35vw;
    height: 50vh;
    border: 3px solid #000;
    border-radius: 5px;
}

div.textoFinal {
    max-height: 55vh;
    overflow: auto;
}

.grid-txts img {
    width: 100%;
}

.grid-txts h4 {
    font-family: cursive;
}

.grid-txts {
    display: grid;
    grid-template-columns: auto 5% auto;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.grid-botao {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: 1.5em;
}

.grid-botao .selecionar {
    border: 1.5px solid #000;
    border-radius: 5px;
    padding-top: 0.5em;
}

button {
    background-color: #000;
    color: #fff;
    border-radius: 5em;
    width: 150px;
    height: 50px;
    margin: 0.6em;
}

footer {
    position: fixed;
    left: 0;
    top: 40%;
    text-align: center;
    padding: 1em;
    background-color: #000;
    border-radius: 0px 10px 10px 0px;
    width: 8em;
}

footer a {
    padding: 5%;
    text-decoration: none;
    transition: text-shadow 1s;
}

footer a:active,
footer a:hover {
    text-decoration: none;
    text-shadow: 5px 5px 10px magenta;
}

footer i {
    color: #fff;
    padding: .5em;
    margin: .5em;
}

footer img {
    width: 50%;
}
